@font-face {
  font-family: "icon";
  src: url('../font/icon.eot?1588911938850');
  src: url('../font/icon.eot??#iefix?1588911938850') format('eot'),
  url('../font/icon.woff?1588911938850') format('woff'),
  url('../font/icon.ttf?1588911938850') format('truetype'),
  url('../font/icon.svg#icon?1588911938850') format('svg');
  font-weight: normal;
  font-style: normal;
}

.c-icon--arrow:before,
.c-icon--arrow--after:after {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  vertical-align: top;
  display: inline-block;
}

.c-icon--arrow:before { content: "\EA01"; }


.c-icon--arrow--after:after { content: "\EA01"; }
