// Facebook
//WEBサイトのURL
meta(property='og:url', content='http://foo.bar/')
//WEBサイトのタイトル。Twitter Cardでも併用。
meta(property='og:title', content=title)
//WEBサイトのdescription。Twitter Cardでも併用。
meta(property='og:description', content=description)
//TOPページなら'website'。下層ページや記事ページなら'article'。
meta(property='og:type', content='website')
//画像URL
meta(property='og:image', content='http://foo.bar/image.png')

// Twitter
//Summaryカードなら'summary'
meta(name='twitter:card', content='summary_large_image')
//画像URL
meta(name='twitter:image', content='http://foo.bar/image.png')
