-
	const domain = './'
	const imgSrc = './img/'
	const description = 'Hello, World'
	const keywords = 'Hello, World'
	const title = 'Hello, World'
	const date = +new Date()

doctype html
html(lang='ja')
	head
		include include/ogp
		include include/title
		include include/css
	body
		p Hello,World.
		include include/js